.character-root {
  padding: 1em 1em 3em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  .item-list {
    padding: 0.6em 1em;
    text-wrap: nowrap;
    > p {
      margin-top: 0;
    }
  }

  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .character-header {
    display: flex;
    align-items: center;
  }
}
