$grid-size: 232px;

.character-root {
  padding: 1em 1em;
  display: flex;

  .character-list {
    position: sticky;
    top: calc(var(--navbar-height) + 1em);
    height: calc(100vh - var(--navbar-height) - 2em);
    width: $grid-size;
    margin-right: 1em;
    > p {
      margin-bottom: 0;
    }
    > ul {
      padding: 0;
      list-style: none;
      width: calc(100% + 2em);
      position: relative;
      left: -1em;

      li {
        padding: 0.2em 1.4em;
        cursor: pointer;
        transition: 0.1s ease-in-out background-color;
        border-left: 2px solid transparent;
        position: relative;
        > span {
          float: right;
        }
        &:hover {
          background-color: var(--accent-fade);
        }

        &.active {
          border-left: 2px solid var(--accent-color);
          // &::after {
          //   content: "";
          //   width: 32px;
          //   height: 30px;
          //   display: block;
          //   position: absolute;
          //   top: calc(50% - 32px / 2);
          //   left: -0.7em;
          //   background-image: url("/sword.gif");
          //   background-size: cover;
          // }
        }
      }
    }
  }

  .character-editor {
    flex-grow: 1;
  }

  .character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: repeat(auto-fill, $grid-size);
    grid-auto-flow: dense;
    grid-auto-rows: $grid-size;
    gap: 1em;
  }

  .item-list {
    grid-column: span 1;
    grid-row: span 2;
    > label {
      margin: 0.5em 0;
    }
  }

  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .character-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
  }

  .appearance-editor {
    position: relative;
    grid-column: span 1;
    > div {
      display: grid;
      gap: 1em 0.2em;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: 0.7em;
    }
    > p:last-child {
      margin: 0.2em 0;
    }

    label {
      input {
        appearance: none;
        position: absolute;
      }
      > div {
        box-sizing: content-box;
        border-radius: var(--border-radius);
        cursor: pointer;
        &:hover {
          background-color: var(--accent-fade);
        }
      }
      input:checked + div {
        background-color: var(--accent-color);
      }
    }
  }

  .color-picker {
    > p {
      margin-bottom: 0;
    }

    div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0em 0.5em;
      width: fit-content;
      label {
        width: 32px;
        height: 32px;
        border-radius: var(--border-radius);
        cursor: pointer;
        border: 2px solid transparent;
        position: relative;
        padding: 0;
        &:has(input:checked) {
          border: 2px solid var(--accent-color);
        }
        input {
          cursor: pointer;
          appearance: none;
          background-color: black;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 2px;
          left: 2px;
          margin: 0;
          border-radius: var(--border-radius);
        }
      }
    }
  }
}
