$grid-size: 232px;

.character-root {
  padding: 1em;

  .character-list {
    width: $grid-size;

    > p {
      margin-bottom: 0;
    }
    > ul {
      padding: 0;
      list-style: none;
      width: calc(100% + 2em);
      position: relative;
      left: -1em;

      li {
        padding: 0.2em 1.4em;
        cursor: pointer;
        transition: 0.1s ease-in-out background-color, 0.1s ease-in-out border-bottom-width;
        border-left: 2px solid transparent;
        position: relative;
        border-bottom: 0px solid var(--accent-color);

        > span {
          float: right;
          color: var(--alt-text-color);
          transition: 0.1s ease-in-out color;
          cursor: grab;
          &:hover {
            color: var(--font-color);
          }
        }

        &:hover {
          background-color: var(--accent-fade);
        }

        &.active {
          border-left: 2px solid var(--accent-color);
          // &::after {
          //   content: "";
          //   width: 32px;
          //   height: 30px;
          //   display: block;
          //   position: absolute;
          //   top: calc(50% - 32px / 2);
          //   left: -0.7em;
          //   background-image: url("/sword.gif");
          //   background-size: cover;
          // }
        }

        &.dragging {
          cursor: grabbing;
        }

        &.drag-entered {
          border-bottom: 2px solid var(--accent-color);
          > span {
            pointer-events: none;
          }
        }
      }
    }

    .edit-list {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 1em;
      background-color: var(--card-bg-color);
      border-top: 1px solid var(--surface-bg);
    }
  }

  .sidebar {
    width: $grid-size;
  }

  .character-editor {
    margin-left: calc(1em + $grid-size);
  }

  .character-header {
    display: flex;
    align-items: center;
    padding: 1em;
    grid-column: 1/-1;
  }

  .character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: $grid-size * 0.3 repeat(auto-fill, $grid-size);
    grid-auto-flow: dense;
    grid-auto-rows: $grid-size;
    gap: 1em;
    justify-content: center;
  }

  .skills-editor {
    grid-column: span 2;
    grid-row: span 2;

    > div {
      margin-bottom: 0.8em;
      label {
        input {
          margin: 0 0.5em;
        }
      }
    }

    .specialty-skills {
      input {
        margin-right: 1em;
      }
    }

    select {
      margin: 0.2em 2em 0.2em 0;
    }

    .proficiencies {
      position: relative;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   height: calc(100% - 16px);
      //   top: 8px;
      //   width: 2px;
      //   background-color: var(--font-color);
      //   border-radius: 2px;
      //   left: calc(4px + 0.575em - 2px);
      // }
      > label {
        display: block;

        input {
          margin-right: 1em;
          background-color: var(--card-bg-color);
          z-index: 1;
        }

        span {
          display: inline-block;
          &:first-of-type {
            text-align: right;
            width: 2em;
            margin-right: 1em;
          }
        }
      }
    }
  }

  .vocation-editor {
    grid-column: span 1;
    grid-row: span 2;

    label {
      display: block;
      margin-bottom: 2px;
      input {
        float: right;
      }
    }
  }

  .item-list {
    grid-column: span 1;
    grid-row: span 2;
    > label {
      margin: 0.5em 0;
    }
  }

  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
