$grid-size: 184px;

.dlc-root {
  display: grid;
  grid-auto-flow: dense;
  gap: 1em;
  padding: 1em 1em 1em;
  grid-template-columns: repeat(auto-fit, $grid-size);
  grid-template-rows: repeat(auto-fit, $grid-size);

  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;

  .special-guests {
    grid-row: span 2;
    grid-column: span 2;
    height: $grid-size * 2;
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .dqvc {
    grid-row: span 2;
    grid-column: span 3;
    height: $grid-size * 2;

    table {
      width: 100%;
      border-collapse: collapse;
    }
    tr,
    thead {
      border-bottom: 3px solid transparent;
    }
    th {
      font-weight: normal;
      color: var(--alt-text-color);
    }
    th,
    td {
      text-align: left;
      padding: 0 1em 0 0;
      text-wrap: nowrap;
      .item-select {
        margin: 0;
      }
    }

    > select,
    > button {
      margin-right: 1em;
    }

    > p:not(:first-child) {
      margin: 0;
    }

    .randomize {
      width: 2em;
      height: 2em;
      padding: 0;
      vertical-align: middle;
      line-height: 1;
      position: relative;

      $pad: 12%;
      $size: 22%;
      span {
        color: inherit;
        position: absolute;
        width: $size;
        height: $size;
        display: block;
        border-radius: 50%;
        background-color: var(--on-accent-color);

        &:nth-child(1) {
          top: $pad;
          left: $pad;
        }
        &:nth-child(2) {
          top: $pad;
          left: 100% - $pad - $size;
        }
        &:nth-child(3) {
          top: 100% - $pad - $size;
          left: 100% - $pad - $size;
        }

        &:nth-child(4) {
          top: 100% - $pad - $size;
          left: $pad;
        }

        &:nth-child(5) {
          top: 50% - $size * 0.5;
          left: 50% - $size * 0.5;
        }
      }
    }
  }

  .dqvc-msg {
    grid-column: span 2;
    height: $grid-size;
    textarea {
      max-height: 80px;
    }
  }

  .unlock {
    grid-row: span 1;
    aspect-ratio: 1;
  }
}
