$grid-size: 232px;
$sidebar-width: calc($grid-size * 1.5 + 1em);

.grotto-root {
  padding: 1em;

  .sidebar {
    width: $sidebar-width;
    overflow: hidden;

    > ul {
      box-sizing: content-box;
      height: calc(100% - 124px);
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1em 0;
      list-style: none;
      width: calc(100% + 2em);
      position: relative;
      left: -1em;

      li {
        padding: 0.2em 1.4em;
        transition: 0.1s ease-in-out background-color;
        border-left: 2px solid transparent;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        > div {
          margin-right: 0.5em;
        }

        > a {
          position: absolute;
          right: 1em;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: color 0.1s ease-in-out;
          &:hover {
            background-color: var(--accent-fade);
          }
        }

        &:hover {
          background-color: var(--accent-fade);
        }

        &.active {
          border-left: 2px solid var(--accent-color);
          // &::after {
          //   content: "";
          //   width: 32px;
          //   height: 30px;
          //   display: block;
          //   position: absolute;
          //   top: calc(50% - 32px / 2);
          //   left: -0.7em;
          //   background-image: url("/sword.gif");
          //   background-size: cover;
          // }
        }
      }
    }

    .edit-list {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 1em;
      background-color: var(--card-bg-color);
      border-top: 1px solid var(--surface-bg);
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1em;
      height: 64px;
    }
  }

  .grotto-editor {
    margin-left: calc(1em + $sidebar-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: repeat(auto-fill, $grid-size);
    grid-auto-flow: dense;
    grid-auto-rows: $grid-size;
    gap: 1em;
    justify-content: center;
    position: relative;
    .none-found {
      position: absolute;
      height: calc(100vh - var(--navbar-height) - 2em);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      color: var(--alt-text-color);
      opacity: 0.7;
      font-size: 2em;
      pointer-events: none;
      user-select: none;
    }

    > .info {
      grid-row: span 2;
    }

    > .name {
      display: flex;
      align-items: center;
      padding: 1em;
      grid-column: 1/-1;
      > * {
        margin-right: 0.4em;
      }
    }
  }
}
