$grid-size: 232px;

.inn-root {
  padding: 1em 1em;
  display: flex;

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .guest-list {
    width: $grid-size;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    &.canvased-guests {
      li {
        cursor: pointer;
        &:hover {
          background-color: var(--accent-fade);
        }
      }
    }

    > ul {
      box-sizing: content-box;
      height: calc(100% - 3em);
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1em 0;
      list-style: none;
      width: calc(100% + 2em);
      position: relative;
      left: -1em;
      scrollbar-color: var(--accent-color) var(--surface-bg);
      scrollbar-width: thin;

      li {
        padding: 0.2em 1.4em;
        transition: 0.1s ease-in-out background-color;
        border-left: 2px solid transparent;
        position: relative;
        > span {
          float: right;
        }

        &.active {
          border-left: 2px solid var(--accent-color);
          // &::after {
          //   content: "";
          //   width: 32px;
          //   height: 30px;
          //   display: block;
          //   position: absolute;
          //   top: calc(50% - 32px / 2);
          //   left: -0.7em;
          //   background-image: url("/sword.gif");
          //   background-size: cover;
          // }
        }
      }
    }
  }

  .guest-editor {
    flex-grow: 1;
  }

  .guest-header {
    margin-bottom: 1em;
  }

  .guest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: repeat(auto-fill, $grid-size);
    grid-auto-flow: dense;
    grid-auto-rows: $grid-size;
    gap: 1em;
  }

  .profile {
    grid-row: span 2;
    grid-column: span 2;
    label {
      display: block;
    }
  }
}
