$grid-size: 232px;

.inn-root {
  padding: 1em 1em;

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: $grid-size;
  }

  .guest-list {
    width: $grid-size;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }

    &.canvased-guests {
      li {
        cursor: pointer;
        &:hover {
          background-color: var(--accent-fade);
        }
      }
    }

    > ul {
      box-sizing: content-box;
      height: calc(100% - 3em);
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1em 0;
      list-style: none;
      width: calc(100% + 2em);
      position: relative;
      left: -1em;
      scrollbar-color: var(--accent-color) var(--surface-bg);
      scrollbar-width: thin;

      li {
        padding: 0.2em 1.4em;
        transition: 0.1s ease-in-out background-color;
        border-left: 2px solid transparent;
        position: relative;
        > span {
          float: right;
        }

        &.active {
          border-left: 2px solid var(--accent-color);
          // &::after {
          //   content: "";
          //   width: 32px;
          //   height: 30px;
          //   display: block;
          //   position: absolute;
          //   top: calc(50% - 32px / 2);
          //   left: -0.7em;
          //   background-image: url("/sword.gif");
          //   background-size: cover;
          // }
        }
      }
    }
  }

  .guest-editor {
    margin-left: calc(1em + $grid-size);
  }

  .guest-header {
    display: flex;
    align-items: center;
    padding: 1em;
    grid-column: 1/-1;
  }

  .guest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: $grid-size * 0.3 repeat(auto-fill, $grid-size);
    grid-auto-flow: dense;
    grid-auto-rows: $grid-size;
    gap: 1em;
    justify-content: center;
  }

  .profile {
    grid-row: span 1;
    grid-column: span 2;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      > label {
        display: block;
        margin-bottom: 6px;
        > span {
          display: inline-block;
          width: 25%;
        }
        > input,
        > select {
          width: 75%;
        }
      }
    }

    .time-input {
      display: inline-block;
    }

    label > label {
      margin-left: 0.4em;
    }
  }

  .records {
    grid-column: span 2;
    label {
      display: inline-flex;
      width: 100%;
      margin-bottom: 3px;
      span {
        width: 45%;
      }
    }
  }
}
