.items-root {
  padding: 1em 1em 1em;
  display: flex;

  .item-cards {
    flex-grow: 1;
    > div:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .config {
    align-self: start;
    top: calc(var(--navbar-height) + 1em);
    height: calc(100vh - var(--navbar-height) - 2em);
    margin-right: 1em;
    width: 232px;
    input[type="text"] {
      margin-bottom: 1em;
    }
    > p {
      margin-top: 0;
    }
    label {
      display: block;
    }
  }

  .item-card {
    margin-left: calc(232px + 1em);
  }

  .item-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 1em;
    row-gap: 0.5em;
    > div {
      text-wrap: nowrap;
      span {
        margin-left: 0.4em;
        div {
          margin-right: 0.1em;
        }
      }
    }
  }
}
