$sidebar-width: 184px;

.quest-root {
  padding: 1em;

  .sidebar {
    width: $sidebar-width;
    input[type="text"] {
      width: 100%;
    }

    p:last-child {
      position: absolute;
      bottom: 0;
      width: calc(100% - 2em);
    }
  }

  .quests {
    margin-left: calc($sidebar-width + 1em);
    height: calc(100vh - var(--navbar-height) - 2em);
    display: flex;
    flex-direction: column;
    padding: 0.4em 0 0 1em;
    > div {
      overflow-y: scroll;
      padding-bottom: 1em;
      flex-grow: 1;
    }
  }
}
