.appearance-editor {
  position: relative;
  grid-column: span 1;
  > div {
    display: grid;
    gap: 1em 0.2em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 0.7em;
  }
  > p:last-child {
    margin: 0.2em 0;
  }

  label {
    input[type="radio"] {
      appearance: none;
      position: absolute;
    }
    > div {
      box-sizing: content-box;
      border-radius: var(--border-radius);
      cursor: pointer;
      &:hover {
        background-color: var(--accent-fade);
      }
    }
    input:checked + div {
      background-color: var(--accent-color);
    }
  }
}

$color-size: 32px;

.color-picker {
  > .card-label {
    margin-bottom: 0;
  }

  &.colors {
    display: flex;
    flex-direction: column;
  }

  div {
    display: grid;
    grid-template-columns: repeat(4, $color-size);
    gap: 0em 0.5em;
    &.color {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      > div {
        grid-template-columns: repeat(4, $color-size);
        gap: 0em 0.5em;
        grid-template-rows: repeat(4, $color-size);
      }
    }
    label {
      width: $color-size;
      height: $color-size;
      border-radius: var(--border-radius);
      cursor: pointer;
      border: 2px solid transparent;
      position: relative;
      padding: 0;
      &:has(input:checked) {
        border: 2px solid var(--accent-color);
      }
      input {
        cursor: pointer;
        appearance: none;
        background-color: black;
        width: $color-size * 0.75;
        height: $color-size * 0.75;
        position: absolute;
        top: 2px;
        left: 2px;
        margin: 0;
        border-radius: var(--border-radius);
      }
    }
  }
}

.body-type-editor {
  .presets {
    display: flex;
    justify-content: space-between;
    input {
      margin: 0;
      appearance: none;
      + div {
        background-color: var(--blue);
      }
      &:checked + div {
        background-color: var(--accent-color);
      }
    }
  }
}
