button {
  background-color: var(--accent-color);
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  color: var(--on-accent-color);
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
