.card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: 0 4px 8px rgba(#000, 0.2);

  > .card-label {
    margin: 0 0 1em;
    padding: 0;
    color: var(--alt-text-color);
    font-weight: bold;
  }
}
