.icon-select {
  border-bottom: 2px solid transparent;
  background-color: var(--surface-bg);
  display: inline-block;
  width: 100%;
  color: var(--font-color);
  padding: 4px 4px 2px;
  border-radius: var(--border-radius);
  margin: 0.2em;
  position: relative;

  .icon {
    position: absolute;
  }

  select {
    width: 100%;
    height: calc(100% + 2px);
    margin: 0;

    border: none;
    outline: none;
    background-color: transparent;
    color: var(--font-color);
    padding: 0.2em 0.2em 0.2em 28px;
  }

  &:has(select:focus) {
    border-bottom: 2px solid var(--accent-color);
  }
}

.vocation-select {
  width: auto;
}

:not(.icon-select) > select {
  border: none;
  border-bottom: 2px solid transparent;
  background-color: var(--surface-bg);
  color: var(--font-color);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--font-color);
  padding: 0.2em;
  &:focus {
    border-bottom: 2px solid var(--accent-color);
  }
}
