$margin-w: 3em;
$margin-h: 2em;

$transition-time: 0.2s;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  max-height: 80vh;

  opacity: 1;
  pointer-events: auto;
  transition: $transition-time ease-in-out all;

  .card-label a {
    float: right;
    margin-right: 1em;
    padding: 0.2em;
    cursor: pointer;
    color: var(--alt-text-color);
    transition: 0.1s ease-in-out all;
    &:hover {
      color: var(--font-color);
    }
  }

  &.closed {
    top: 40%;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-fade-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.4);
  width: 100%;
  height: 100%;
  z-index: 99999;

  opacity: 1;
  pointer-events: auto;
  transition: $transition-time ease-in-out all;

  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}
