textarea {
  width: 100%;
  height: 6em;
  padding: 0.5em 1em;
  background-color: var(--surface-bg);
  border-radius: var(--border-radius);
  border: none;
  resize: none;
  outline: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: medium;

  scrollbar-color: var(--accent-color) var(--surface-bg);
  scrollbar-width: thin;

  &:focus {
    border-bottom: 2px solid var(--accent-color);
  }
}
