:root {
  --game-orange: #ff9635;
  --game-yellow: #ffdf00;
  --game-l_green: #8ece00;
  --game-d_green: #2d6d00;
  --game-red: #ae2424;
  --game-pink: #ff7dbe;
  --game-green: #1c9e5d;
  --game-blue: #245db6;
  --game-d_purple: #960c65;
  --game-l_purple: #964da6;
  --game-purple: #8614e7;
  --game-turquoise: #3dbeef;
  --game-black: #1c1c1c;
  --game-brown: #652d0c;
  --game-grey: #969696;
  --game-white: #efefef;
}

:root {
  --border-radius: 0.3em;
  --navbar-height: 56px;
}

:root {
  --font-color: #4c4f69;
  --alt-text-color: #6c6f85;
  --bg-color: #eff1f5;
  --surface-bg: #ccd0da;
  --card-bg-color: #dce0e8;
  --accent-color: #ea76cb;
  --accent-fade: rgba(234, 118, 203, 0.2);
  --on-accent-color: var(--bg-color);
  --blue: #1e66f5;
  --slime-blue: var(--blue);
  --slime-red: #d20f39;
  --slime-grey: #6c6f85;
  --github-icon-url: url("/github-mark.svg");
}

[data-theme="dark"] {
  --font-color: #cdd6f4;
  --alt-text-color: #a6adc8;
  --bg-color: #1e1e2e;
  --surface-bg: #313244;
  --card-bg-color: #11111b;
  --accent-color: #cba6f7;
  --accent-fade: rgba(203, 166, 247, 0.2);
  --on-accent-color: var(--bg-color);
  --blue: #89b4fa;
  --slime-blue: var(--blue);
  --slime-red: #f38ba8;
  --slime-grey: #a6adc8;
  --github-icon-url: url("/github-mark-white.svg");
}

:root {
  font-family: "Atkinson Hyperlegible", sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--accent-fade);
}

* {
  box-sizing: border-box;
  color: var(--font-color);
}

body {
  margin: var(--navbar-height) 0 0;
  padding: 0;
}

small {
  font-size: 0.8em;
  color: var(--alt-text-color);
  line-height: 1.2;
}

p {
  margin: 1em 0;
}

.sidebar {
  position: sticky;
  top: calc(var(--navbar-height) + 1em);
  height: calc(100vh - var(--navbar-height) - 2em);
  margin-right: 1em;
}
