:root {
  --border-radius: 0.3em;
  --navbar-height: 56px;
}

:root {
  --font-color: #4c4f69;
  --alt-text-color: #6c6f85;
  --bg-color: #eff1f5;
  --surface-bg: #ccd0da;
  --card-bg-color: #dce0e8;
  --accent-color: #ea76cb;
  --accent-fade: rgba(234, 118, 203, 0.2);
  --grey: #bcc0cc;
  --fade-grey: rgb(188, 192, 204, 0.2);

  --on-accent-color: var(--bg-color);
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;

  --github-icon-url: url("/github-mark.svg");
}

[data-theme="dark"] {
  --font-color: #cdd6f4;
  --alt-text-color: #a6adc8;
  --bg-color: #1e1e2e;
  --surface-bg: #313244;
  --card-bg-color: #11111b;
  --accent-color: #cba6f7;
  --accent-fade: rgba(203, 166, 247, 0.2);
  --on-accent-color: var(--bg-color);
  --grey: #45475a;
  --fade-grey: rgb(69, 71, 90, 0.2);

  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --github-icon-url: url("/github-mark-white.svg");
}

:root {
  --slime-blue: var(--blue);
  --slime-red: var(--red);
  --slime-grey: var(--grey);
}

:root {
  font-family: "Atkinson Hyperlegible", sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--accent-fade);
}

* {
  box-sizing: border-box;
  color: var(--font-color);
  scrollbar-color: var(--accent-color) var(--surface-bg);
  scrollbar-width: thin;

  // transition: 1s ease-in-out color, 1s ease-in-out background-color, 1s ease-in-out border-color,
  //   1s ease-in-out scrollbar-color;
}

body {
  margin: var(--navbar-height) 0 0;
  padding: 0;
}

small {
  font-size: 0.8em;
  color: var(--alt-text-color);
  line-height: 1.2;
}

p {
  margin: 1em 0;
}

.sidebar {
  // position: sticky;
  // margin-right: 1em;
  position: fixed;
  top: calc(var(--navbar-height) + 1em);
  height: calc(100vh - var(--navbar-height) - 2em);
}
